*{
  margin: 0;
  padding: 0;
}
nav{
  height: 70px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(65, 220, 224);
}
div.menu{
  width: 1000px;
  height: 70px;
  margin: 0 auto;
}
div.menu ul li{
  float: left;
  list-style: none;
}
div.menu ul li a{
  padding: 24px 20px;
  line-height: 65px;
  color: #fff;
  text-decoration: none;
}
div.menu ul div.slider{
  width: 88px;
  border-bottom: 3px solid rgb(212, 107, 141);
  position: absolute;
  top: 65px;
  left: 460;
  transition: left 0.3s;
  -moz-transition: left 0.3s; /* Firefox 4 */
  -webkit-transition: left 0.3s; /* Safari 和 Chrome */
  -o-transition: left 0.3s; /* Opera */
}
